PORT=4000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=lendsqr_wallet

# Optional in production if your cloud MySQL provider gives a single URL.
# Example: mysql://user:password@host:3306/database
DATABASE_URL=

TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=3306
TEST_DB_USER=root
TEST_DB_PASSWORD=password
TEST_DB_NAME=lendsqr_wallet_test

ADJUTOR_BASE_URL=https://api.adjutor.io
ADJUTOR_API_KEY=your_adjutor_api_key
